<a href="https://colab.research.google.com/github/Sakshamsinha23/Machine-Learning/blob/main/Filling_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyforest
import pyforest

Collecting pyforest
  Downloading pyforest-1.1.2.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pyforest
  Building wheel for pyforest (setup.py) ... done
  Created wheel for pyforest: filename=pyforest-1.1.2-py2.py3-none-any.whl size=15900 sha256=f6c0b902e276dc08d4d4ed43b9e98d11d432eea2a8681ab050af497bff6b4658
  Stored in directory: /root/.cache/pip/wheels/c5/ca/73/5cdc3d087111bfbdef90be5457aa03c00c0e32241b2752445c
Successfully built pyforest
Installing collected packages: pyforest
Successfully installed pyforest-1.1.2

In [4]:
data=pd.read_csv('/content/loan.csv')
data.head(10)

    Loan_ID Gender Married Dependents  ... Loan_Amount_Term Credit_History  Property_Area  Loan_Status
0  LP001002   Male      No          0  ...            360.0            1.0          Urban            Y
1  LP001003   Male     Yes          1  ...            360.0            1.0          Rural            N
2  LP001005   Male     Yes          0  ...            360.0            1.0          Urban            Y
3  LP001006   Male     Yes          0  ...            360.0            1.0          Urban            Y
4  LP001008   Male      No          0  ...            360.0            1.0          Urban            Y
5  LP001011   Male     Yes          2  ...            360.0            1.0          Urban            Y
6  LP001013   Male     Yes          0  ...            360.0            1.0          Urban            Y
7  LP001014   Male     Yes         3+  ...            360.0            0.0      Semiurban            N
8  LP001018   Male     Yes          2  ...            360.0            1.0          Urban            Y
9  LP001020   Male     Yes          1  ...            360.0            1.0      Semiurban            N

[10 rows x 13 columns]

In [3]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
#Filling

data.fillna(10)

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [10]:
# data.fillna(method="ffill",axis=1)

<ipython-input-10-4a6e05ea1b5c>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill",axis=1)

      Loan_ID  Gender Married Dependents  ... Loan_Amount_Term Credit_History Property_Area Loan_Status
0    LP001002    Male      No          0  ...            360.0            1.0         Urban           Y
1    LP001003    Male     Yes          1  ...            360.0            1.0         Rural           N
2    LP001005    Male     Yes          0  ...            360.0            1.0         Urban           Y
3    LP001006    Male     Yes          0  ...            360.0            1.0         Urban           Y
4    LP001008    Male      No          0  ...            360.0            1.0         Urban           Y
..        ...     ...     ...        ...  ...              ...            ...           ...         ...
609  LP002978  Female      No          0  ...            360.0            1.0         Rural           Y
610  LP002979    Male     Yes         3+  ...            180.0            1.0         Rural           Y
611  LP002983    Male     Yes          1  ...            360.0            1.0         Urban           Y
612  LP002984    Male     Yes          2  ...            360.0            1.0         Urban           Y
613  LP002990  Female      No          0  ...            360.0            0.0     Semiurban           N

[614 rows x 13 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [11]:
# Find Mode
# data["Gender"].mode()[0]

'Male'

In [14]:

data["Gender"].fillna (data["Gender"].mode()[0],inplace=True)

In [15]:
data

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [19]:
for i in data.select_dtypes(include="object").columns:
    data[i].fillna (data[i].mode()[0],inplace=True)

In [20]:
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64