In [1]:
!pip install pyforest
import pyforest

Collecting pyforest
  Downloading pyforest-1.1.2.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pyforest
  Building wheel for pyforest (setup.py) ... done
  Created wheel for pyforest: filename=pyforest-1.1.2-py2.py3-none-any.whl size=15900 sha256=344e727257fd573f6a48fbecc10d28602c23f41936f811eb9fae2cc799dced42
  Stored in directory: /root/.cache/pip/wheels/c5/ca/73/5cdc3d087111bfbdef90be5457aa03c00c0e32241b2752445c
Successfully built pyforest
Installing collected packages: pyforest
Successfully installed pyforest-1.1.2

In [3]:
data=pd.read_csv('/content/boston.csv')
data.head()

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7  396.90   5.33  36.2

In [14]:
data.shape

(506, 16)

In [7]:
data['House_Price']=data['MEDV']
data

        CRIM    ZN  INDUS  CHAS    NOX  ...       B  LSTAT  MEDV  House_Prive  House_Price
0    0.00632  18.0   2.31     0  0.538  ...  396.90   4.98  24.0         24.0         24.0
1    0.02731   0.0   7.07     0  0.469  ...  396.90   9.14  21.6         21.6         21.6
2    0.02729   0.0   7.07     0  0.469  ...  392.83   4.03  34.7         34.7         34.7
3    0.03237   0.0   2.18     0  0.458  ...  394.63   2.94  33.4         33.4         33.4
4    0.06905   0.0   2.18     0  0.458  ...  396.90   5.33  36.2         36.2         36.2
..       ...   ...    ...   ...    ...  ...     ...    ...   ...          ...          ...
501  0.06263   0.0  11.93     0  0.573  ...  391.99   9.67  22.4         22.4         22.4
502  0.04527   0.0  11.93     0  0.573  ...  396.90   9.08  20.6         20.6         20.6
503  0.06076   0.0  11.93     0  0.573  ...  396.90   5.64  23.9         23.9         23.9
504  0.10959   0.0  11.93     0  0.573  ...  393.45   6.48  22.0         22.0         22.0
505  0.04741   0.0  11.93     0  0.573  ...  396.90   7.88  11.9         11.9         11.9

[506 rows x 16 columns]

In [4]:
input=data.iloc[:,:-1]
input

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3  396.90   4.98
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8  396.90   9.14
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8  392.83   4.03
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7  394.63   2.94
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7  396.90   5.33
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...      ...     ...    ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273     21.0  391.99   9.67
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273     21.0  396.90   9.08
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273     21.0  396.90   5.64
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273     21.0  393.45   6.48
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273     21.0  396.90   7.88

[506 rows x 13 columns]

In [8]:
output=data['House_Price']
output

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: House_Price, Length: 506, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(input,output,test_size=0.25,random_state=42)

In [11]:
x_train

         CRIM    ZN  INDUS  CHAS     NOX     RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
182   0.09103   0.0   2.46     0  0.4880  7.155  92.2  2.7006    3  193     17.8  394.12   4.82
155   3.53501   0.0  19.58     1  0.8710  6.152  82.6  1.7455    5  403     14.7   88.01  15.02
280   0.03578  20.0   3.33     0  0.4429  7.820  64.5  4.6947    5  216     14.9  387.31   3.76
126   0.38735   0.0  25.65     0  0.5810  5.613  95.6  1.7572    2  188     19.1  359.29  27.26
329   0.06724   0.0   3.24     0  0.4600  6.333  17.2  5.2146    4  430     16.9  375.21   7.34
..        ...   ...    ...   ...     ...    ...   ...     ...  ...  ...      ...     ...    ...
106   0.17120   0.0   8.56     0  0.5200  5.836  91.9  2.2110    5  384     20.9  395.67  18.66
270   0.29916  20.0   6.96     0  0.4640  5.856  42.1  4.4290    3  223     18.6  388.65  13.00
348   0.01501  80.0   2.01     0  0.4350  6.635  29.7  8.3440    4  280     17.0  390.94   5.99
435  11.16040   0.0  18.10     0  0.7400  6.629  94.6  2.1247   24  666     20.2  109.85  23.27
102   0.22876   0.0   8.56     0  0.5200  6.405  85.4  2.7147    5  384     20.9   70.80  10.63

[379 rows x 13 columns]

In [12]:
y_test

173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
       ...
418     8.8
117    19.2
42     25.3
322    20.4
347    23.1
Name: House_Price, Length: 127, dtype: float64

In [13]:
y_train

182    37.9
155    15.6
280    45.4
126    15.7
329    22.6
       ...
106    19.5
270    21.1
348    24.5
435    13.4
102    18.6
Name: House_Price, Length: 379, dtype: float64

In [19]:
print(x_train.shape, y_train.shape)

(379, 13) (379,)

In [20]:
print(x_test.shape,y_test.shape)

(127, 13) (127,)